<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Recipe</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='add_car.css') }}">
</head>
<body>
    <div id="header">
        <div>
            <h1>Put Car Up For Sale</h1>
        </div>  
        <div id="button-box"> 
            <a href="/dashboard" class="buttons">Dashboard</a>
            <a href="/logout" class="buttons">Logout</a>
        </div>
    </div>
    <div id="container">
        <div id="create_food">
            <form action="/update" method="post" id="form_contain">
                <div class="food"> 
                    <label class="info">Price: </label> <input type="number" name="price" class="input_box" value="{{car.price}}">
                </div>
                <div class="food"> 
                    <label class="info">Model: </label> <input type="text" name="model" class="input_box" value="{{car.model}}">
                </div>
                <div class="food"> 
                    <label class="info">Make: </label> <input type="text" name="make" class="input_box" value="{{car.make}}">
                </div>
                <div class="food">   
                    <label class="info">Year: </label> <input type="number" name="year" class="input_box" value="{{car.year}}">
                </div>
                <div class="food"> 
                    <label class="info">Description: </label> 
                    <textarea name='desc' class="text-area">{{car.desc}}</textarea>
                <input type="submit" value="Update" id="submit">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p id="warning">{{message}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %} 
            </form>
        </div>
    </div>
</body>
</html>