<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">

</head>
<body>
    <h1>Login Page</h1>
    <div id='container'>
        <div id="register">
            <h2>Register</h2>
            <form action="/register" method="post">
                <div> 
                    <label>First Name: </label>
                    <input type="text" name="first_name"> 
                </div>
                <div>
                    <label>Last Name: </label>
                    <input type="text" name="last_name"> 
                </div>
                <div>
                    <label>Email: </label>
                    <input type="email" name="email"> 
                </div>
                <div>
                    <label>Password: </label>
                    <input type="password" name="password">
                </div> 
                <div>
                    <label>Confirm PW: </label>
                    <input type="password" name="confirm_pw"> 
                </div>  
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                            <p id="warning">{{message}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}    
                <input type="submit" class='submit' value="Submit">
            </form>
        </div>

        <div id="login">
            <h2>Log In</h2>
            <form action="/login" method="post"> 
                <div> 
                    <label>Email: </label>
                    <input type="text" name="email">
                </div>  
                <div>
                    <label>Password: </label>
                    <input type="password" name="password">
                </div>
                <input type="submit" class='submit' value="Submit">
            </form>
        </div>
    </div>
</body>
</html>